language: generic
sudo: required
services:
  - docker

before_install: 
  - docker build -t alexdimitrov55/docker_ci -f Dockerfile.dev .

script:
  - docker run -e CI=true alexdimitrov55/docker_ci npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "eu-central-1"
  app: "docker_ci"
  env: "Dockerci-env"
  bucket_name: "elasticbeanstalk-eu-central-1-992730202026"
  bucket_path: "docker_ci"
  on:
    branch: master
  access_key_id: $AWS_ACCES_KEY
  secret_access_key: "$AWS_SECRET_KEY"